Exercise 4.3 wrangling proceedures

In [3]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [8]:
# Importing dataset departments.csv
df_dep = pd.read_csv(os.path.join(r"C:\Users\Emily\01-2026 Instacart Basket Analysis", '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [9]:
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [11]:
# Transposing df_dep
df_dep.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [12]:
# Creating a new dataframe from the transposed version
df_dep_t = df_dep.T

In [14]:
# Executing new dataframe
df_dep.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [15]:
# Adding an Index
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [16]:
# Create a new header
new_header = df_dep_t.iloc[0]

In [18]:
# Seeing contents of first row
new_header

0    department
Name: department_id, dtype: object

In [19]:
# Remove the first row in the dataframe
df_dep_t_new = df_dep_t[1:]

In [20]:
# Executing new dataframe
df_dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [21]:
# Setting new header
df_dep_t_new.columns = new_header

In [23]:
#Seeing what the new header looks like in the dataframe
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [24]:
# Turning df_dep_t_new dataframe into a data dictionary
data_dict = df_dep_t_new.to_dict('index')

In [25]:
# Calling the new variable
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [42]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [48]:
# Importing dataset ptoducts.csv
df_prods = pd.read_csv(os.path.join(r"C:\Users\Emily\01-2026 Instacart Basket Analysis", '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [49]:
# Seeing first 5 emtries of df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [51]:
# Determining what deprtment-id 19 stands for
print(data_dict.get('19'))

{'department': 'snacks'}

In [54]:
# Creating a subset for df_prods dataframe that only contains data from the snacks department
df_prods[ df_prods['department_id']==19]

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5
...,...,...,...,...,...
49666,49662,Bacon Cheddar Pretzel Pieces,107,19,3.6
49669,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,6.9
49670,49666,Ginger Snaps Snacking Cookies,61,19,5.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49683,49679,Famous Chocolate Wafers,61,19,6.0

In [56]:
# Saving results into new dataframe
df_snacks =  df_prods[df_prods['department_id']==19]

In [58]:
# Executing new df_snacks dataframe
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

Task 4.3 proceedures

In [60]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [61]:
# create data path
path = r"C:\Users\Emily\01-2026 Instacart Basket Analysis"

In [65]:
# Import data csv's

# Order's data
df_ords = pd.read_csv(os.path.join(r"C:\Users\Emily\01-2026 Instacart Basket Analysis", '02 Data', 'Original Data', 'orders.csv'), index_col = False)

# Product's data
df_prods = pd.read_csv(os.path.join(r"C:\Users\Emily\01-2026 Instacart Basket Analysis", '02 Data', 'Original Data', 'products.csv'), index_col = False)

# Department's data
df_dep = pd.read_csv(os.path.join(r"C:\Users\Emily\01-2026 Instacart Basket Analysis", '02 Data', 'Original Data', 'departments.csv'), index_col = False)

Step 2

In [69]:
# Displaying first 5 rows from orders dataframe
df_ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [87]:
# # Changing data type of order_number to non-numeric
df_ords['order_number'] = df_ords['order_number'].astype('str')

In [88]:
# Changing data type of order_id to non-numeric
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [89]:
# Changing data type of user_id to non-numeric
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [98]:
# Checking the data type
df_ords.dtypes

order_id                   object
user_id                    object
order_number               object
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

Step 3

In [102]:
# Changing order_dow to orders_day_of_week
df_ords.rename(columns={'order_dow': 'order_day_of_week'}, inplace=True)

In [103]:
# Checking that the name was changed correctly
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

Step 4

In [107]:
# Finding the frequency
df_ords['order_hour_of_day'].value_counts(dropna=True)

order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

10:00 is the busiest hour of the day for placing orders.

Step 5

In [109]:
# Retrieving data dictionary
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [110]:
# Meaning of 4 in data dictionary for df_prods
print(data_dict.get('4'))

{'department': 'produce'}

4 means produce.

Step 6

In [113]:
# Creating a subset of breakfast items sales data
df_bfast = df_prods[df_prods['department_id']== 14]

In [115]:
# Retreiving the information
df_prods_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

Step 7

In [120]:
# Creating subset for dinner party for the departments alcohol, deli, beverages, and meat/seafood.
# Data dictionary shows that the numbers for these departments are 5, 20, 7 and 12.
df_prods_dinner_party = df_prods.loc[df_prods['department_id'].isin([5, 7, 12, 20])]

In [121]:
df_prods_dinner_party.head()

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1

Step 8

In [123]:
# How many rows does the last dataframe you created have?
df_prods_dinner_party.shape

(7650, 5)

The last data set has 7,650 rows.

Step 9

In [142]:
# Details about customer with user_id 1
df_user1 = df_ords.loc[df_ords['user_id'] == '1']

In [143]:
#Extracting info
df_user1

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0

Step 10

In [137]:
# Info about user_id 1 behaviour
df_user1.describe()

       orders_day_of_week  order_hour_of_day  days_since_prior_order
count           11.000000          11.000000               10.000000
mean             2.636364          10.090909               19.000000
std              1.286291           3.477198                9.030811
min              1.000000           7.000000                0.000000
25%              1.500000           7.500000               14.250000
50%              3.000000           8.000000               19.500000
75%              4.000000          13.000000               26.250000
max              4.000000          16.000000               30.000000

This customer usually orders at the beginning of the week around 10:00am. On average, they place an order every 9 days. Also, they have never gone more than 30 days without ordering.

Step 12

In [145]:
# Export df_ords dataframe
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

Step 13

In [146]:
# Export df_dep_t_new dataframe
df_dep_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'))