In [1]:
# Importing librarires
import pandas as pd
import numpy as np
import os

In [5]:
# Creating a path
path = r"C:\Users\Emily\01-2026 Instacart Basket Analysis"

Step 3

In [6]:
# Importing orders_products_combined dataframe from the pickle file
orders_products_combined = pd.read_pickle(os.path.join(path, '02 data' , 'prepared data' , 'orders_products_combined.pkl'))

Step 4

In [8]:
# Checking to confirm the shape of the imported dataframe
orders_products_combined.shape

(32434489, 11)

In [9]:
# Checking the column of the orders_product_combine 
orders_products_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

Step 5

In [10]:
# Import the product dataframe from prepared data file
df_prods= pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'),index_col=0)

In [11]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
# Checking the shape of the products dataframe
df_prods.shape

(49672, 5)

The most suitable way to megre the dataframes is to use the product_id column

In [13]:
# Testing the merge wihtout overwriting
pd.merge(orders_products_combined, df_prods, on = ['product_id'], indicator='Match')

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Match
0,0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,3421081,2977660,206209,13,1,12,7.0,14197,5,1,both,Tomato Paste,9,9,5.6,both
32404855,3421081,2977660,206209,13,1,12,7.0,38730,6,0,both,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,3421081,2977660,206209,13,1,12,7.0,31477,7,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,3421081,2977660,206209,13,1,12,7.0,6567,8,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,3421081,2977660,206209,13,1,12,7.0,22920,9,0,both,Roasted & Salted Shelled Pistachios,117,19,1.7,both

An inner join is best because the extra information does not add value.

In [14]:
# Dropping the merge column in the orders_products_combined dataframe
orders_products_combined = orders_products_combined.drop(['_merge'], axis=1)

In [15]:
# Checking the output 
orders_products_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,2539329,1,1,2,8,NaN,196,1,0
1,0,2539329,1,1,2,8,NaN,14084,2,0
2,0,2539329,1,1,2,8,NaN,12427,3,0
3,0,2539329,1,1,2,8,NaN,26088,4,0
4,0,2539329,1,1,2,8,NaN,26405,5,0

In [16]:
orders_products_combined.shape

(32434489, 10)

In [17]:
# Merging the updated dataframe
df_ords_prods_merge = df_prods.merge(orders_products_combined, on = 'product_id', indicator = True)

In [18]:
# Checking the output
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both

In [19]:
# Checking the shape
df_ords_prods_merge.shape

(32404859, 15)

Step 6

In [20]:
# Cecking the result of merge using merge flag
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

Step 7

In [22]:
# Exporting data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))