In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [10]:
# Creating a path
path = r"C:\Users\Emily\01-2026 Instacart Basket Analysis"

In [14]:
# Importing df_ords_prior dataframe
df_ords_prior= pd.read_csv(os.path.join(path,'02 Data','Original Data', 'orders_products_prior.csv'), index_col=False)

In [15]:
# Checking the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [29]:
# Import df_ords from prepared data folder
df_ords=pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'), index_col=False)

In [30]:
# Checking the output
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [27]:
# Checking shape of both dataframes
df_ords_prior.shape

(32434489, 4)

In [31]:
df_ords.shape

(3421083, 7)

In [32]:
# Merging both dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [33]:
# Checking the output
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [34]:
# Sum up all the values in the merge column
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [35]:
# Exporting data as pickle
df_merged_large.to_pickle(os.path.join(path, '02 data', 'prepared data', 'orders_products_combined.pkl'))