Step 1

In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Creating Path
path = r"C:\Users\Emily\01-2026 Instacart Basket Analysis"

In [5]:
# Importing orders_products_merged_extra_columns.pkl File
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data' , 'Prepared Data' , 'orders_products_merged_extra_columns.pkl'))

In [6]:
# Checking the shape of the dataframe
df_ords_prods_merge.shape

(1000000, 19)

In [8]:
# Checking whether the import was successful
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Slowest days,Average orders

In [16]:
# Creating a subset
df = df_ords_prods_merge[:1000000]

In [17]:
df.shape

(1000000, 19)

Step 2

In [18]:
#  Finding the aggregated mean for the entire dataframe
df_ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [20]:
df_ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.447411
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.803851
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: order_number, dtype: float64

Step 3

The full dataframe generally has higher average order numbers across departments, showing it captures more customer behavior than the subset. Departmetn 21 hads the highest mean in both dataframes. Department 10 shows a mean that is 2 points higher in the full dataset. Most departments have similar order averages, but a few are slightly higher or lower in the full dataset.

Step 4

In [21]:
# Aggregating Data with transform() Function
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Emily\AppData\Local\Temp\ipykernel_11620\3473307984.py:2: FutureWarning: The provided callable <function max at 0x000002202F9945E0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [22]:
# Checking the Output
df_ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,30
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,30
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,16,1,7,26.0,7,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,16
6,1,Chocolate Sandwich Cookies,61,19,5.8,13096,1871483,825,3,2,14,30.0,2,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,3
7,1,Chocolate Sandwich Cookies,61,19,5.8,14603,1290456,910,12,3,10,30.0,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,17065,369558,1052,10,1,20,19.0,1,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,18
9,1,Chocolate Sandwich Cookies,61,19,5.8,17070,589712,1052,15,1,12,15.0,2,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,18
10,1,Chocolate Sandwich Cookies,61,19,5.8,22082,1798115,1379,1,5,11,NaN,1,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,6
11,1,Chocolate Sandwich Cookies,61,19,5.8,23713,497193,1480,36,3,13,7.0,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,41
12,1,Chocolate Sandwich Cookies,61,19,5.8,23715,1727826,1480,38,4,13,7.0,3,1,both,Mid-range product,Least busy,Slowest days,Most orders,41
13,1,Chocolate Sandwich Cookies,61,19,5.8,23716,2694698,1480,39,2,12,12.0,4,1,both,Mid-range product,Regularly busy,Regularly busy,Most orders,41
14,1,Chocolate Sandwich Cookies,61,19,5.8,23937,3171753,1494,6,3,10,2.0,8,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,9

In [23]:
# Creating a 'Loyalty' Label Flag using loc Function
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [24]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [25]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [28]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    473070
Loyal customer      287917
New customer        239013
Name: count, dtype: int64

In [29]:
# Checking the Updated Output
df_ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,...,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,...,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,30,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,...,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,30,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,...,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,...,NaN,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,...,9.0,11,1,both,Mid-range product,Least busy,Slowest days,Average orders,3,New customer
5,1,Chocolate Sandwich Cookies,61,19,5.8,12372,1701441,777,16,1,...,26.0,7,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,16,Regular customer
6,1,Chocolate Sandwich Cookies,61,19,5.8,13096,1871483,825,3,2,...,30.0,2,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,3,New customer
7,1,Chocolate Sandwich Cookies,61,19,5.8,14603,1290456,910,12,3,...,30.0,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,12,Regular customer
8,1,Chocolate Sandwich Cookies,61,19,5.8,17065,369558,1052,10,1,...,19.0,1,0,both,Mid-range product,Regularly busy,Busiest days,Average orders,18,Regular customer
9,1,Chocolate Sandwich Cookies,61,19,5.8,17070,589712,1052,15,1,...,15.0,2,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,18,Regular customer
10,1,Chocolate Sandwich Cookies,61,19,5.8,22082,1798115,1379,1,5,...,NaN,1,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,6,New customer
11,1,Chocolate Sandwich Cookies,61,19,5.8,23713,497193,1480,36,3,...,7.0,1,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,41,Loyal customer
12,1,Chocolate Sandwich Cookies,61,19,5.8,23715,1727826,1480,38,4,...,7.0,3,1,both,Mid-range product,Least busy,Slowest days,Most orders,41,Loyal customer
13,1,Chocolate Sandwich Cookies,61,19,5.8,23716,2694698,1480,39,2,...,12.0,4,1,both,Mid-range product,Regularly busy,Regularly busy,Most orders,41,Loyal customer
14,1,Chocolate Sandwich Cookies,61,19,5.8,23937,3171753,1494,6,3,...,2.0,8,0,both,Mid-range product,Regularly busy,Slowest days,Most orders,9,New customer

Step 5

In [30]:
# Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category: (Loyal Customer, Regular Customer, and New Customer) 
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.674593  1.0  24.5
New customer      7.792591  1.0  24.5
Regular customer  7.750368  1.0  24.5

The average product prices are similar for all three customer types.

Step 6

In [31]:
# Create a spending flag for each user based on the average price across all their orders using the following criteria:
# 1) If the mean of the prices of products purchased by a user is lower than 10, then flag them as a Low spender.
# 2) If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a High spender.

In [32]:
# Aggregating Data with transform() Function
df_ords_prods_merge['avg_product_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\Emily\AppData\Local\Temp\ipykernel_11620\1144848887.py:2: FutureWarning: The provided callable <function mean at 0x000002202F994FE0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge['avg_product_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [33]:
# Checking Relevant Columns 
df_ords_prods_merge[['user_id', 'avg_product_price']].head(15)

    user_id  avg_product_price
0       138          12.900000
1       138          12.900000
2       709           5.288889
3       764           5.800000
4       764           5.800000
5       777           5.800000
6       825           5.800000
7       910           5.800000
8      1052           7.000000
9      1052           7.000000
10     1379           7.400000
11     1480           8.422222
12     1480           8.422222
13     1480           8.422222
14     1494           5.736364

In [41]:
# Creating a Spending Label Flag using loc Function
df_ords_prods_merge.loc[df_ords_prods_merge['avg_product_price'] < 10, 'spending_flag'] = 'Low spender'

In [42]:
df_ords_prods_merge.loc[df_ords_prods_merge['avg_product_price'] >= 10, 'spending_flag'] = 'High spender'

In [44]:
df_ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     805506
High spender    194494
Name: count, dtype: int64

In [45]:
# Checking Releavent Columns
df_ords_prods_merge[['user_id', 'avg_product_price', 'spending_flag']].head(15)

    user_id  avg_product_price spending_flag
0       138          12.900000  High spender
1       138          12.900000  High spender
2       709           5.288889   Low spender
3       764           5.800000   Low spender
4       764           5.800000   Low spender
5       777           5.800000   Low spender
6       825           5.800000   Low spender
7       910           5.800000   Low spender
8      1052           7.000000   Low spender
9      1052           7.000000   Low spender
10     1379           7.400000   Low spender
11     1480           8.422222   Low spender
12     1480           8.422222   Low spender
13     1480           8.422222   Low spender
14     1494           5.736364   Low spender

Step 7

In [46]:
# Create an order frequency flag that marks the regularity of a users ordering behavior according to the median in the days_since_prior_order column.
df_ords_prods_merge['median_days_between_orders'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\Emily\AppData\Local\Temp\ipykernel_11620\1694169079.py:2: FutureWarning: The provided callable <function median at 0x000002202FB740E0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge['median_days_between_orders'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [47]:
# Checking Relevant Columns 
df_ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_between_orders']].head(15)

    user_id  days_since_prior_order  median_days_between_orders
0       138                     3.0                         6.5
1       138                    20.0                         6.5
2       709                     6.0                         7.0
3       764                     NaN                         9.0
4       764                     9.0                         9.0
5       777                    26.0                        26.0
6       825                    30.0                        30.0
7       910                    30.0                        30.0
8      1052                    19.0                        12.0
9      1052                    15.0                        12.0
10     1379                     NaN                        13.0
11     1480                     7.0                         7.0
12     1480                     7.0                         7.0
13     1480                    12.0                         7.0
14     1494                     2.0                         6.0

In [49]:
# Creating a 'Order Frequency' Label Flag using loc Function
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_between_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [50]:
df_ords_prods_merge.loc[(df_ords_prods_merge['median_days_between_orders'] <= 20) & (df_ords_prods_merge['median_days_between_orders'] > 10), 'order_frequency_flag'] = 'Regular customer'

In [54]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_between_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [55]:
df_ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        641346
Regular customer         221585
Non-frequent customer    128877
NaN                        8192
Name: count, dtype: int64

In [56]:
# Checking Relevant Columns of Updated Dataframe
df_ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_between_orders', 'order_frequency_flag']].head(15)

,user_id,days_since_prior_order,median_days_between_orders,order_frequency_flag
0,138,3.0,6.5,Frequent customer
1,138,20.0,6.5,Frequent customer
2,709,6.0,7.0,Frequent customer
3,764,NaN,9.0,Frequent customer
4,764,9.0,9.0,Frequent customer
5,777,26.0,26.0,Non-frequent customer
6,825,30.0,30.0,Non-frequent customer
7,910,30.0,30.0,Non-frequent customer
8,1052,19.0,12.0,Regular customer
9,1052,15.0,12.0,Regular customer
10,1379,NaN,13.0,Regular customer
11,1480,7.0,7.0,Frequent customer
12,1480,7.0,7.0,Frequent customer
13,1480,12.0,7.0,Frequent customer
14,1494,2.0,6.0,Frequent customer

Step 9

In [57]:
# Exporting the dataframe as a pickle file 
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_grouped.pkl'))